.text {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  margin-left: 5%;
  margin-right: 5%;
}

.textError {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  margin-left: 9px;
  margin-right: 9px;
  padding: -10px;
  color: #e94e4e;
}

/* .CreateGroup {
  text-align: center;
  height: 100vh;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 40px;
} */

.GroupNameBox {
  width: 150px;
}

.dateBox {
  width: 170px;
}

.IoIosArrowBack {
  width: 30px;
  height: 30px;
  color: black;
  margin-left: 15px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.inputDate-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 30px;
}

.dateBox {
  margin-top: -20px;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-container .react-datepicker-wrapper {
  margin-top: 30px;
}

.input-container .react-datepicker-wrapper input {
  padding: 5px;
}

input[type="checkbox"] {
  transform: scale(2);
}
