.text {
  font-family: "Roboto";
  font-size: 21px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  padding: -10px;
}

/* .CreateGroup {
  text-align: center;
  height: 100vh;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 40px;
} */

.GoupNameBox {
  width: 185px;
}

.IoIosArrowBack {
  width: 30px;
  height: 30px;
  color: black;
  margin-left: 15px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 9%;
  margin-right: 10%;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 10%;
}

.input-container .react-datepicker-wrapper {
  margin: 50px 0;
}

.input-container .react-datepicker-wrapper input {
  padding: 4px 12px;
}

.CheckBoxStyle {
  margin-top: 30px;
}

input[type="checkbox"] {
  transform: scale(2);
}
