.text {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  margin-left: 9px;
  margin-right: 9px;
  padding: -10px;
}
.text-code {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin-left: 9px;
  margin-right: 9px;
  padding: -10px;
}

.textError {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  margin-left: 9px;
  margin-right: 9px;
  padding: -10px;
  color: #e94e4e;
}

/* .CreateGroup {
  text-align: center;
  height: 100vh;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 40px;
} */

.GroupNameBox {
  width: 185px;
}

.IoIosArrowBack {
  width: 30px;
  height: 30px;
  color: black;
  margin-left: 15px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 9%;
  margin-right: 9%;
}

.output-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 9%;
  margin-right: 9%;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
  margin-right: 8%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.input-container .react-datepicker-wrapper {
  margin: 50px 0;
}

.input-container .react-datepicker-wrapper input {
  padding: 4px 12px;
}

.CheckBoxStyle {
  margin-top: 30px;
}

input[type="checkbox"] {
  transform: scale(2);
}

.modal-content {
  margin: 30% auto;
  padding: 30px;
  width: 80%;
}

.codeOutput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon-copy {
  margin-left: -35px;
}
