.container {
  margin-top: 30px;
}

.inputCodeStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.codeStyle {
  width: 100px;
  margin-left: 30px;
}

.loginTextSmall {
  font-size: 15px;
  color: grey;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}

.glemtPassordSmall {
  font-size: 15px;
  color: rgb(30, 142, 247);
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}

#groupHead {
  display: flex;
  font-size: 50px;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
}

.groupHead {
  display: flex;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
}

#groupText {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 60px;
  padding-bottom: 80px;
}

.memberNumber {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  margin-left: 1%;
}

.members {
  display: flex;
  justify-content: right;
}

.RedButtonStyle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: white;
  letter-spacing: 1px;
  background-color: #e94e4e;
  border-color: #e94e4e;
  border-radius: 12px;
  text-align: center;
  padding: 8px 23px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

/* unvisited link */
a:link {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
}

.RedButtonStyle:hover {
  background-color: #d14646;
}

.RedButtonStyle:active {
  background: #fc9e9e;
  box-shadow: inset 0px 0px 5px #fc9e9e;
}

.icon {
  float: right;
  margin-right: 30px;
}

#createGroupButton {
  margin-top: 30px;
}

.GroupButtonStyle {
  position: relative;
  font-family: "Roboto", sans-serif;
  width: 90%;
  color: white;
  letter-spacing: 1px;
  background-color: #4d85f2;
  border-radius: 12px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  transition-duration: 0.2s;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
}

.GroupButtonStyle:hover {
  background-color: #d14646;
}

html {
  scroll-behavior: smooth;
}

.leggtilBox {
  width: 100px;
}

.imageStyle {
  padding-top: 30px;
  margin-left: -5px;
  padding-bottom: 20px;
}
