.container-center {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container-centerProfile {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.container-centerError {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.displayNameHeader {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
  margin-top: 30px;
}

input,
select,
textarea {
  color: lightslategray;
}

.usernameBox {
  width: 250px;
  height: 40px;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: #eaeaea;
  border-color: #c4c4c4;
}

.usernameBoxError {
  width: 250px;
  height: 40px;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: #eaeaea;
  border-color: #e94e4e;
  border-width: 2px;
}

.loginButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  background-color: #e94e4e;
  border-color: #e94e4e;
  border-radius: 12px;
  text-align: center;
  padding: 8px 23px;
  width: 150px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

.opprettButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  background-color: #e94e4e;
  border-color: #e94e4e;
  border-radius: 12px;
  text-align: center;
  padding: 8px 23px;
  width: 200px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

.LogInButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 25px;
  background-color: #e94e4e;
  border-color: #e94e4e;
  border-radius: 12px;
  text-align: center;
  padding: 8px 23px;
  width: 250px;
  margin-top: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

.SignInButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 25px;
  background-color: #e94e4e;
  border-color: #e94e4e;
  border-radius: 12px;
  text-align: center;
  padding: 8px 23px;
  width: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

.tilbakemeldingButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 25px;
  background-color: #4d85f2;
  border-color: #4d85f2;
  border-radius: 12px;
  text-align: center;
  padding: 8px 23px;
  width: 250px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

.sendInnButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: #4d85f2;
  border-color: #4d85f2;
  border-radius: 12px;
  text-align: center;
  padding: 6px 16px;
  width: 30%;
  margin-top: -10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

.signUpButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  background-color: #e94e4e;
  border-color: #e94e4e;
  border-radius: 12px;
  text-align: center;
  padding: 8px 23px;
  width: 150px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

.loginButtonStyle:hover {
  background-color: #d14646;
}

.loginButtonStyle:active {
  background: #fc9e9e;
  box-shadow: inset 0px 0px 5px #fc9e9e;
}

.tilbakemeldingButtonStyle:hover {
  background-color: #4d85f2;
}

.tilbakemeldingButtonStyle:active {
  background: #96b3e2;
  box-shadow: inset 0px 0px 5px #96b3e2;
}

.signInButtonStyle:hover {
  background-color: #d14646;
}

.signInButtonStyle:active {
  background: #fc9e9e;
  box-shadow: inset 0px 0px 5px #fc9e9e;
}

.signUpButtonStyle:hover {
  background-color: #d14646;
}

.signUpButtonStyle:active {
  background: #fc9e9e;
  box-shadow: inset 0px 0px 5px #fc9e9e;
}

.icon-spacebetween {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 50px;
}

.errorMsg {
  color: red;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}

.renameBox {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.feedbackBox {
  display: flex;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  justify-content: top;
  width: 90%;
  height: 50%;
}

.saveButtonStyle {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #75da85;
  border-color: #75da85;
  border-radius: 10px;
  margin-left: 10px;
  padding: 3px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
.saveButtonStyle:active {
  background: #c2ffcc;
  box-shadow: inset 0px 0px 5px #c2ffcc;
}

.feedbackText {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  opacity: 0.6;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}
