.modalGroup-content {
  padding: 20px;
  padding-bottom: 70px;
  margin-top: 20px;
  background-color: #4d85f2;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 40px;
}

.groupTextPopup {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 700;
  opacity: 0.9;
}

.dateTextPopup {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  opacity: 0.9;
  font-weight: 700;
}

.dateGroup-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 9%;
}

.inputGroup-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
  margin-left: 9%;
  margin-right: 9%;
}

.sendTilVenner {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: -10px;
  margin-left: 9%;
  margin-right: 9%;
}

.crossButtonStyle {
  color: white;
  background-color: #e94e4e;
  border-color: #e94e4e;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

.crossButtonStyle:active {
  background: #fc9e9e;
  box-shadow: inset 0px 0px 5px #fc9e9e;
}

.crossPlusButtonStyle {
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
  color: white;
  background-color: #4d85f2;
  border-color: #4d85f2;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

.crossPlusButtonStyle:active {
  background: #aec9fd;
  box-shadow: inset 0px 0px 5px #aec9fd;
}

.modal-content {
  margin: 30% auto;
  padding: 30px;
  width: 80%;
}

.codeOutput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon-copy {
  margin-left: -35px;
}

.icon-copy:active {
  color: #cdcdcd;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  color: white;
}

.navbar-line {
  border-bottom: 2px solid;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
}
/* .navbar-line1 {
  color: black;
  border-bottom: 3px solid;
  width: 100%;
  align-content: center;
}

.navbar-lineList {
  color: black;
  border-bottom: 2px solid;
  margin-left: 25%;
  width: 20%;
}

.navbar-lineAdd {
  color: black;
  border-bottom: 2px solid;
  margin-left: 50%;
  width: 25%;
}
.navbar-lineSetting {
  color: black;
  border-bottom: 2px solid;
} */

.display-challengesUndone {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #f77777;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.display-challengesDone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #75da85;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.display-scoreChallenges {
  display: flex;
  padding: 15px;
  margin-top: 20px;
  background-color: #4d85f2;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.display-challenges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #4d85f2;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.display-challengesSettings {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #4d85f2;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .display-first {
  display: flex;
  padding: 15px;
  margin-top: 20px;
  background-color: #ffd700;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.display-second {
  display: flex;
  padding: 15px;
  margin-top: 20px;
  background-color: #c0c0c0;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.display-third {
  display: flex;
  padding: 15px;
  margin-top: 20px;
  background-color: #cd7f32;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
} */
.uncompletedChallengesText {
  color: white;
  margin-left: 5%;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.settingsText {
  color: white;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.display-header {
  color: white;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.display-headerNumber {
  display: flex;
  color: white;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.display-score {
  display: flex;
  margin-left: 20px;
  color: white;
  /*   opacity: 70%; */
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.display-sendTilVenner {
  display: flex;
  color: white;
  /*   opacity: 70%; */
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.unchecked-circle {
  color: white;
}

.addBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.addAndCheckBox {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.checkButtonStyle {
  color: white;
  background-color: #75da85;
  border-color: #75da85;
  border-radius: 50px;
  margin-left: 30px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
}

.checkButtonStyle:active {
  background: #c2ffcc;
  box-shadow: inset 0px 0px 5px #c2ffcc;
}

.DeleteButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  background-color: #e94e4e;
  border-color: #e94e4e;
  border-radius: 12px;
  text-align: center;
  padding: 8px 23px;
  margin-left: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
  font-weight: 700;
}

.DeleteButtonStyle:hover {
  background-color: #d14646;
}

.DeleteButtonStyle:active {
  background: #fc9e9e;
  box-shadow: inset 0px 0px 5px #fc9e9e;
}

.settingDeleteButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  background-color: #e94e4e;
  border-color: #e94e4e;
  border-radius: 12px;
  text-align: center;
  padding: 4px 11px;
  margin-top: 5%;
  margin-left: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
  font-weight: 700;
}
.settingDeleteButtonStyle:hover {
  background-color: #d14646;
}

.settingDeleteButtonStyle:active {
  background: #fc9e9e;
  box-shadow: inset 0px 0px 5px #fc9e9e;
}

.settingChangeButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  background-color: #4d85f2;
  border-color: #4d85f2;
  border-radius: 12px;
  text-align: center;
  padding: 4px 11px;
  margin-top: 5%;
  margin-left: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  cursor: pointer;
  font-weight: 700;
}
.settingChangeButtonStyle:hover {
  background-color: #4d85f2;
}

.settingChangeButtonStyle:active {
  background: #96b3e2;
  box-shadow: inset 0px 0px 5px #96b3e2;
}

.modalClose {
  margin-top: -20px;
  margin-left: -20px;
}

.renameSaveButtonStyle {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #75da85;
  border-color: #75da85;
  border-radius: 10px;
  margin-top: 4px;
  width: 60px;
  padding: 3px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: 700;
}
.renameSaveButtonStyle:active {
  background: #c2ffcc;
  box-shadow: inset 0px 0px 5px #c2ffcc;
}

.mediumText {
  color: white;
  margin-left: 5%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.display-membersNotAdmin {
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4d85f2;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}
