.modalGroup-content {
  background-color: #e94840;
}

.groupTextPopup {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 700;
}

.dateTextPopup {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 700;
}

.dateGroup-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 9%;
}

.inputGroup-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
  margin-left: 9%;
  margin-right: 40%;
  margin-bottom: 40px;
}

.inputGroup-containerHeader {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
  margin-left: 9%;
  margin-right: 40%;
}

.sendTilVenner {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: -10px;
  margin-left: 9%;
  margin-right: 9%;
}

.crossButtonStyle {
  color: white;
  background-color: #e94840;
  border-color: #e94840;
  border-radius: 60px;
  text-align: center;
  margin-left: 20px;
}

.backButtonStyle {
  color: white;
  background-color: #e6736d;
  border-color: #e6736d;
  border-radius: 20px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}

.crossPlusButtonStyle {
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
  color: white;
  background-color: #2a72f4;
  border-color: #2a72f4;
  border-radius: 50px;
  text-align: center;
}

.crossPlusButtonStyle:active {
  background: #aec9fd;
  box-shadow: inset 0px 0px 5px #aec9fd;
}

.imageButtonStyle {
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
  padding: 5px;
  color: white;
  background-color: #f77777;
  border-color: white;
  border-radius: 50px;
  text-align: center;
}

.imageButtonStyle:active {
  background: #fc9e9e;
  box-shadow: inset 0px 0px 5px #fc9e9e;
}

.modal-content {
  margin: 30% auto;
  padding: 30px;
  width: 80%;
}

.codeOutput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon-copy {
  margin-left: -35px;
}

.icon-copy:active {
  color: #cdcdcd;
}

.navbar {
  display: flex;
  justify-content: space-around !important;
  margin-top: 30px;
  color: white;
}

.navbar-line {
  border-bottom: 2px solid;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
}

.navbar-challengeLine {
  border-bottom: 1px solid;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 20px;
  color: white;
}

.navbar-challengeDoneLine {
  border-bottom: 1px solid;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  color: #1e2223;
}
/* .navbar-line1 {
  color: black;
  border-bottom: 3px solid;
  width: 100%;
  align-content: center;
}

.navbar-lineList {
  color: black;
  border-bottom: 2px solid;
  margin-left: 25%;
  width: 20%;
}

.navbar-lineAdd {
  color: black;
  border-bottom: 2px solid;
  margin-left: 50%;
  width: 25%;
}
.navbar-lineSetting {
  color: black;
  border-bottom: 2px solid;
} */

.display-challengesUndone {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
  width: 96%;
  background-color: #e4e6eb;
  border-width: 1px;
  border-color: #e94840;
  border-radius: 15px;
}

.imageIsOpen {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageAndButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.imageMargin  {
  padding-left: 5%;
}

.display-challengesDone {
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 96%;
  background-color: #e4e6eb;
  margin-left: 2%;
  border-width: 1px;
  border-color: #75da85;
  border-radius: 15px;
}

.display-scoreChallenges {
  padding: 15px;
  margin-top: 20px;
  background-color: #e4e6eb;
  border-width: 1px;
  border-color: #e4e6eb;
  border-radius: 15px;
  width: 96%;
  margin-left: 2%;
}

.display-challenges {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 96%;
  margin-left: 2%;
  background-color: #e4e6eb;
  border-radius: 15px;
}

.display-ScoreChallenges {
  background-color: #e4e6eb;
  border-width: 1px;
  border-color: #e4e6eb;
  border-radius: 15px;
  width: 96%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.display-challengesSettings {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 96%;
  margin-left: 2%;
  background-color: #e4e6eb;
  border-radius: 15px;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.settings1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .display-first {
  display: flex;
  padding: 15px;
  margin-top: 20px;
  background-color: #ffd700;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.display-second {
  display: flex;
  padding: 15px;
  margin-top: 20px;
  background-color: #c0c0c0;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.display-third {
  display: flex;
  padding: 15px;
  margin-top: 20px;
  background-color: #cd7f32;
  border-radius: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
} */
.uncompletedChallengesText {
  color: #1e2223;
  margin-left: 5%;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.settingsText {
  color: #1e2223;
  margin-left: 5%;
  margin-top: 5%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.display-header {
  display: flex;
  color: #1e2223;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.display-headerNumber {
  display: flex;
  color: white;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.display-score {
  display: flex;
  margin-left: 20px;
  color: #636363;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.display-challengeScore {
  display: flex;
  margin-left: 10px;
  color: #1e2223;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 5%;
  margin-right: 5%;
}

.display-cDone {
  color: #636363;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: left;
  margin-left: 5%;
}

.display_arrowDown {
  margin-right: 7%;
  color: #636363;
}

.display-sendTilVenner {
  display: flex;
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.unchecked-circle {
  color: #3acd94;
}

.unChecked-circle {
  color: #e94e4e;
}

.addBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.addAndCheckBox {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.checkButtonStyle {
  background-color: #3acd94;
  border-color: #3acd94;
  color: white;
  border-radius: 60px;
  text-align: center;
  margin-left: 20px;
}

.checkButtonStyle:active {
  background: #c2ffcc;
  box-shadow: inset 0px 0px 5px #c2ffcc;
}

.DeleteButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  background-color: #e94840;
  border-color: #e94840;
  border-radius: 12px;
  text-align: center;
  padding: 8px 23px;
  margin-left: 20px;
  font-weight: 700;
}

.DeleteButtonStyle:hover {
  background-color: #d14646;
}

.DeleteButtonStyle:active {
  background: #fc9e9e;
  box-shadow: inset 0px 0px 5px #fc9e9e;
}

.settingDeleteButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  background-color: #e94840;
  border-color: #e94840;
  border-radius: 12px;
  text-align: center;
  padding: 4px 11px;
  margin-top: 5%;
  margin-left: 20px;
  font-weight: 700;
}
.settingDeleteButtonStyle:hover {
  background-color: #d14646;
}

.settingDeleteButtonStyle:active {
  background: #fc9e9e;
  box-shadow: inset 0px 0px 5px #fc9e9e;
}

.settingAddButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  background-color: #3acd94;
  border-color: #3acd94;
  border-radius: 12px;
  text-align: center;
  padding: 4px 11px;
  margin-left: 20px;
  font-weight: 700;
}

.settingAddButtonStyle:active {
  background: #c2ffcc;
  box-shadow: inset 0px 0px 5px #c2ffcc;
}

.settingChangeButtonStyle {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
  background-color: #2a72f4;
  border-color: #2a72f4;
  border-radius: 12px;
  text-align: center;
  padding: 4px 11px;

  margin-left: 20px;
  cursor: pointer;
  font-weight: 700;
}
.settingChangeButtonStyle:hover {
  background-color: #4d85f2;
}

.settingChangeButtonStyle:active {
  background: #96b3e2;
  box-shadow: inset 0px 0px 5px #96b3e2;
}

.modalClose {
  margin-top: -20px;
  margin-left: -20px;
}

.renameSaveButtonStyle {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #3acd94;
  border-color: #3acd94;
  border-radius: 10px;
  margin-top: 4px;
  width: 60px;
  padding: 3px;
  margin-left: 3%;
  text-align: center;

  font-weight: 700;
}
.renameSaveButtonStyle:active {
  background: #c2ffcc;
  box-shadow: inset 0px 0px 5px #c2ffcc;
}

.mediumText {
  color: #1e2223;
  margin-left: 5%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.display-membersNotAdminOuter {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 2%;
  width: 96%;
  background-color: #e4e6eb;
  border-radius: 15px;
}

.display-membersNotAdminInner {
  /* padding: 5px; */
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4d85f2;
  border-radius: 15px;
}

.imageProofText {
  display: flex;
  color: #1e2223;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  margin-top: -10px;
  font-family: "Roboto", sans-serif;
}

.imageDeleteButtonStyle {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: white;
  background-color: #e94e4e;
  border-color: #e94e4e;
  border-radius: 12px;
  margin-top: 5px;
  text-align: center;
  padding: 4px 12px;
  font-weight: 700;
}

.imageAddButtonStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: white;
  background-color: #e94840;
  border-radius: 12px;
  margin-top: 5px;
  text-align: center;
  padding: 4px 12px;
  font-weight: 700;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: white;
  background-color: #4d85f2;
  border-radius: 12px;
  margin-top: 5px;
  text-align: center;
  padding: 4px 12px;
  font-weight: 700;
}

.file-name {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #1e2223;
}

.threeDots {
  color: #1e2223;
}

.form-control3 {
  margin-left: 5%;
}
