.active .navBarIcon {
  color: #e94840;
}

.navBarIcon {
  color: black;
}

#myLabel {
  margin-left: 2%;
  margin-right: 2%;
}

.kode-kopiert {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: -30px;
  margin-left: 9%;
  margin-right: 9%;
}

.navbarStyle {
  background-color: white;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-color: white;
  padding-top: 1px;
  margin-top: 10px;
}

.closeIcon {
  color: white;
  width: 20px;
}
